body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
.u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1642 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:102px;
}
.u1643 {
  position:absolute;
  left:2px;
  top:43px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
.u1644 {
  position:absolute;
  left:13px;
  top:11px;
  width:80px;
  height:80px;
}
.u1645 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
.u1646 {
  position:absolute;
  left:27px;
  top:112px;
  width:52px;
  height:24px;
  text-align:center;
}
.u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1641-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:136px;
}
#u1641-2 {
  position:absolute;
  left:123px;
  top:0px;
  width:106px;
  height:136px;
}
#u1641-3 {
  position:absolute;
  left:246px;
  top:0px;
  width:106px;
  height:136px;
}
#u1641-4 {
  position:absolute;
  left:0px;
  top:156px;
  width:106px;
  height:136px;
}
#u1641-5 {
  position:absolute;
  left:123px;
  top:156px;
  width:106px;
  height:136px;
}
#u1641-6 {
  position:absolute;
  left:246px;
  top:156px;
  width:106px;
  height:136px;
}
#u1641-7 {
  position:absolute;
  left:0px;
  top:312px;
  width:106px;
  height:136px;
}
#u1641-8 {
  position:absolute;
  left:123px;
  top:312px;
  width:106px;
  height:136px;
}
#u1641-9 {
  position:absolute;
  left:246px;
  top:312px;
  width:106px;
  height:136px;
}
#u1641-10 {
  position:absolute;
  left:0px;
  top:468px;
  width:106px;
  height:136px;
}
#u1641-11 {
  position:absolute;
  left:123px;
  top:468px;
  width:106px;
  height:136px;
}
#u1641-12 {
  position:absolute;
  left:246px;
  top:468px;
  width:106px;
  height:136px;
}
#u1641-13 {
  position:absolute;
  left:0px;
  top:624px;
  width:106px;
  height:136px;
}
#u1641-14 {
  position:absolute;
  left:123px;
  top:624px;
  width:106px;
  height:136px;
}
#u1641-15 {
  position:absolute;
  left:246px;
  top:624px;
  width:106px;
  height:136px;
}
#u1641 {
  position:absolute;
  left:9px;
  top:0px;
  width:352px;
  height:760px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
